@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-pageflip-container {
    width: 100%;
    /* Adjust to your desired width */
    height: 100%;
    /* Adjust to your desired height */
}

.custom-pageflip {
    width: 100%;
    height: 100%;
}
.process_bg {
    background-image: url("/assets/LandingPage/processflow-bg.png");
    padding: 1%;
    background-repeat: no-repeat;

}

.hero_bg {
    background-image: url("/assets/LandingPage/hero-bg.png");
    background-repeat: no-repeat;
}

.footer_bg {
    background-image: url("../public/assets/LandingPage/footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}



.read_book_bg {
    background-image: url("/assets/LandingPage/hero-bg-1.png");
    background-repeat: no-repeat;
}


@font-face {
    font-family: "Graphik";
    src: url('../public/fonts/Graphik/GraphikRegular.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Graphik Bold";
    src: url('../public/fonts/Graphik/GraphikBold.otf');
    font-weight: bold;
    font-style: bold;
}
@font-face {
    font-family: "Graphik Italic";
    src: url('../public/fonts/Graphik/GraphikRegularItalic.otf');
    font-weight: italic;
    font-style: italic;
}



